{% extends "BASE.html" %}

{% block title %}{{ _("Settings") }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <h1>{{ _("Poll overview") }}</h1>

            <p>
                {{ _("This list shows all the polls you have participated in, either by owning them, voting on them, being invited, or watching.") }}
            </p>

            {% set watches = current_user.watches.all() %}
            {% set polls = current_user.poll_list %}

            <table class="table table-condensed table-striped">
                <tr>
                    <th>Poll title</th>
                    <th>Created</th>
                    <th colspan="3">Tags</th>
                </tr>
                {% for poll in polls %}
                    <tr>
                        <td><a href="{{ poll.get_url() }}">{{ poll.title }}</a></td>
                        <td>{{ poll.created|date(year=True) }}</td>
                        <td width="10">
                            {% if poll.owner == current_user %}
                                <span class="label label-danger"><i class="fa fa-pencil"></i> {{ _("Owner") }}</span>
                            {% elif current_user.is_member(poll.owner) %}
                                <span class="label label-danger"><i class="fa fa-pencil"></i> {{ _("Owner (group)") }}</span>
                            {% else %}
                                <span class="label label-default"><i class="fa fa-ban"></i> {{ _("Not owner") }}</span>
                            {% endif %}
                        </td>
                        <td width="10">
                            {% if poll.get_user_votes(current_user) %}
                                <span class="label label-success"><i class="fa fa-check"></i> {{ _("Voted") }}</span>
                            {% elif current_user.is_invited(poll) %}
                                <span class="label label-info"><i class="fa fa-envelope"></i> {{ _("Invited") }}</span>
                            {% else %}
                                <span class="label label-default"><i class="fa fa-pencil"></i> {{ _("Not voted") }}</span>
                            {% endif %}
                        </td>
                        <td width="10">
                            {% if poll.is_watching(current_user) %}
                                <span class="label label-warning"><i class="fa fa-eye"></i> {{ _("Watching") }}</span>
                            {% else %}
                                <span class="label label-default"><i class="fa fa-eye-slash"></i> {{ _("Not watching") }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-4">
            <h1>{{ _("Settings") }}</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ field_error(form.hidden_tag) }}

                {% if form.firstname %}
                    <div class="form-group">
                        {{ form.firstname.label(class="control-label") }}
                        {{ form.firstname(class="form-control") }}
                        {{ field_error(form.firstname) }}
                    </div>

                    <div class="form-group">
                        {{ form.lastname.label(class="control-label") }}
                        {{ form.lastname(class="form-control") }}
                        {{ field_error(form.lastname) }}
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class="control-label") }}
                        {{ form.email(class="form-control") }}
                        {{ field_error(form.email) }}
                    </div>

                    <div class="form-group">
                        {{ form.password1.label(class="control-label")}}
                        {{ form.password1(class="form-control") }}
                        {{ field_error(form.password1) }}

                        <div class="help-block">
                            Leave empty to keep your current password.
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.password2.label(class="control-label")}}
                        {{ form.password2(class="form-control") }}
                        {{ field_error(form.password2) }}
                    </div>
                {% else %}
                    <p>{{ _("You can edit your account settings in the centralized accounts page.") }}</p>
                {% endif %}

                <div class="form-group">
                    {{ form.preferred_language.label }}
                    {{ form.preferred_language(class="form-control", **{'data-slug-field':"#slug"}) }}
                    {{ field_error(form.preferred_language) }}
                </div>

                <label>Various</label>
                <div class="checkbox">
                    {{ form.autowatch() }}
                    {{ form.autowatch.label }}
                    {{ field_error(form.autowatch) }}
                </div>

                <div class="checkbox">
                    {{ form.allow_invitation_mails() }}
                    {{ form.allow_invitation_mails.label }}
                    {{ field_error(form.allow_invitation_mails) }}
                </div>

                <div class="form-group">
                    <input type="submit" value="{{ _('Save') }}" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
