{% macro property(title, content, icon) %}
    <li title="{{ title }}">
        <i class="fa fa-{{ icon }}"></i>
        <span class="content">{{ content }}</span>
    </li>
{% endmacro %}

<ul class="poll-details">
    {{ property(_("Creation date"), poll.created|date, "calendar") }}

    {% if poll.due_date %}
        {{ property(_("Expiration date"), poll.due_date|date, "clock-o") }}
    {% endif %}

    {% if poll.owner %}
        {{ property(_("Ownership"), _("you") if poll.owner == current_user else poll.owner.displayname, "briefcase") }}
    {% endif %}

    {% if poll.anonymous_allowed %}
        {{ property(_("Anonymous voting allowed"), _("anonymous voting"), "question-circle") }}
    {% endif %}

    {% if poll.public_listing %}
        {{ property(_("Listed in public polls list"), _("public"), "list") }}
    {% endif %}

    {% if poll.require_invitation %}
        {{ property(_("Invitation required"), _("Invitation required"), "envelope") }}
    {% elif poll.require_login %}
        {{ property(_("Login required"), _("login required"), "user") }}
    {% endif %}

    {% if current_user.is_authenticated() %}
        {{ property(_("Watching poll"),
            _("watching") if poll.is_watching(current_user) else _("not watching"),
            "eye" if poll.is_watching(current_user) else "eye-slash") }}
    {% endif %}
</ul>

{% if poll.description %}
    <hr />
    <h3>{{ _("Poll Description") }}</h3>
    {{ poll.description | markdown }}
{% endif %}
