{% from "_macros.html" import alert %}

{% macro renderVote(vote) %}
    {% if show_votes or (not current_user.is_anonymous() and vote.user == current_user) %}
        <tr class="vote {% if not current_user.is_anonymous() and vote.user == current_user %} mine{% endif %}" data-author="{{ vote.displayname|forceescape|forceescape }}">
            <td class="author" data-toggle="popover" data-trigger="hover" data-container="body" data-title="{{ vote.displayname|forceescape|forceescape }}" data-content="{{ vote.created|datetime }}{% if vote.comment %}<div class='comment'>{{ vote.comment|forceescape|forceescape }}</div>{% endif %}{% if vote.assigned %}<div class='assigned'>{{ _('Assigned after voting by %(user)s', user=vote.assigned_by.displayname|forceescape|forceescape) }}</div>{% endif %}">
                {% if vote.comment or vote.assigned %}
                    <div class="pull-left" style="margin-right: 0.4em;">
                        {% if vote.comment %}
                            <i class="fa fa-comment-o"></i>
                        {% endif %}
                        {% if vote.assigned %}
                            <i class="fa fa-tag"></i>
                        {% endif %}
                    </div>
                {% endif %}
                {{ vote.displayname }}
            </td>
            {% for choice in choices %}
                {% set vote_choice = poll.get_vote_choice(vote, choice) %}
                {% set numeric = poll.type == PollType.numeric %}

                {% if numeric or (vote_choice and not vote_choice.value.deleted) %}
                <td class="vote-choice text-center {{ 'numeric' if numeric else ('' if vote_choice.value else 'none') }} {{ 'comment' if vote_choice.comment else '' }}" {% if not numeric %}style="background-color: #{{ vote_choice.value.color }}" {% endif %}data-toggle="popover" data-trigger="hover" data-container="body" data-title="{{ choice.title|forceescape|forceescape }}" data-content="{{ vote.displayname|forceescape|forceescape }}{% if not numeric and vote_choice.comment %}<div class='comment'>{{ vote_choice.comment|forceescape|forceescape }}</div>{% endif %}" data-placement="bottom" data-choice-value="{{ choice.amount if numeric else vote_choice.value_id }}">
                    {% if numeric %}
                        {% if vote_choice.amount %}
                            {{ poll.numeric_format() % vote_choice.amount }}
                        {% else %}
                            &ndash;
                        {% endif %}
                    {% else %}
                        <span class="fa fa-{{ vote_choice.value.icon if vote_choice.value else 'question' }}"></span>
                    {% endif %}
                </td>
                {% else %}
                    <td class="vote-choice text-center none">
                        <span class="fa fa-question"></span>
                    </td>
                {% endif%}
            {% endfor %}
            <td class="noprint vote-actions">
                {% if vote.user_can_edit(current_user) %}
                    <a href="{{ url_for('poll_vote_edit', slug=poll.slug, vote_id=vote.id) }}" class="btn btn-xs btn-default" title="{{ _('Edit vote') }}"><i class="fa fa-pencil"></i></a>
                {% endif %}
                {% if vote.user_can_delete(current_user) %}
                    <a href="{{ url_for('poll_vote_delete', slug=poll.slug, vote_id=vote.id) }}" class="btn btn-xs btn-default" title="{{ _('Delete vote') }}"><i class="fa fa-trash-o"></i></a>
                {% endif %}
                {% if not vote.anonymous and not vote.user and poll.user_can_administrate(current_user) %}
                    <a href="{{ url_for('poll_vote_assign', slug=poll.slug, vote_id=vote.id) }}" class="btn btn-xs btn-default" title="{{ _('Assign a user') }}"><i class="fa fa-user"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro renderInvitation(invitation) %}
    <tr class="invitation">
        <td class="author" data-toggle="popover" data-trigger="hover" data-container="body" data-title="{{ invitation.user.displayname|forceescape|forceescape }}" data-content="{{ _('This user was invited on %(date)s at %(time)s to vote in this poll.', date=invitation.created|date, time=invitation.created|time) }}">
            <div class="pull-left" style="margin-right: 0.4em;">
                <i class="fa fa-envelope"></i>
            </div>
            {{ invitation.user.displayname }}
        </td>
        {% for choice in choices %}
            <td class="vote-choice text-center none">
                <span class="fa fa-question"></span>
            </td>
        {% endfor %}
        <td class="noprint vote-actions">
            {% if invitation.user == current_user %}
                <a class="btn btn-xs btn-success" title="{{ _('Vote now') }}" href="{{ url_for('poll_vote', slug=poll.slug) }}"><i class="fa fa-pencil"></i></a>
            {% endif %}
            {% if poll.user_can_edit(current_user) %}
                <a href="{{ url_for('poll_invitations', slug=poll.slug) }}" class="btn btn-xs btn-default" title="{{ _('Manage invitations') }}"><i class="fa fa-ellipsis-h"></i></a>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{# START CONTENT #}

{% set show_votes = poll.show_votes(current_user) %}
{% set show_summary = poll.show_summary(current_user) %}

{% if poll.show_results != "complete" and poll.user_can_administrate(current_user) %}
    {{ alert("info", _("You as an admin of this poll will always see full results, no matter what you select under 'Results display'. Log out to see the poll as a normal visitor.")) }}
{% endif %}

{% if poll.type in (PollType.datetime, PollType.date) %}
    {% if not poll.timezone %}
        {{ alert("info", _("This poll is using coordinated time, which means the choices are displayed as your profile timezone (%(userzone)s), and may be different for other users.", userzone=current_timezone)) }}
    {% elif poll.timezone != current_timezone %}
        {{ alert("info", _("The choices on this poll are local time, which is set to %(timezone)s for this poll. This differs from the timezone you set in your profile (%(userzone)s).", timezone=poll.timezone, userzone=current_timezone)) }}
    {% endif %}
{% endif %}

{% if (poll.votes and poll.has_choices) and (show_votes or show_summary or poll.get_user_votes(current_user)) %}
    <div class="table-padding">
        {% set choices = poll.get_choices() %}
        {% set matrix = poll.get_choice_group_matrix()|transpose %}

        <div class="table-noscroll-y">
            <div class="table-scroll-x" style="padding-bottom: 100px;">
                <table class="table poll auto-width" id="poll">
                    <thead>
                        {% for row in matrix %}
                        <tr>
                            <th></th>
                            {% for item in row if item[0] != None %}
                                <th colspan="{{ item[2] }}" rowspan="{{ item[1] }}" class="choice-group">
                                    {{ item[0]|group_title(poll) }}
                                </th>
                            {% endfor %}
                            <th class="noprint"></th>
                        </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for vote in poll.votes %}
                            {{ renderVote(vote) }}
                        {% endfor %}

                        {% if show_votes and poll.show_invitations %}
                            {% for invitation in poll.invitations if not invitation.voted %}
                                {{ renderInvitation(invitation) }}
                            {% endfor %}
                        {% endif %}

                        {% if not show_votes %}
                            <tr>
                                <td></td>
                                <td colspan="{{ poll.get_choices()|length }}" class="info">
                                    {% if show_summary %}
                                        {% set count = poll.votes.count() - poll.get_user_votes(current_user)|length %}
                                        {{ _("%(count)d votes are hidden from you.", count=count) }}
                                    {% else %}
                                        {{ _("Some votes may be hidden from you.") }}
                                    {% endif %}
                                    {% if current_user.is_anonymous() %}
                                        {{ _('<a href="%(link)s">Log in</a> to display your own vote.</a>', link=url_for('login', next=request.url)) | safe }}
                                    {% endif %}
                                </td>
                                <td class="noprint"></td>
                            </tr>
                        {% endif %}
                    </tbody>
                    {% if show_summary %}
                    <tfoot>
                        {% if poll.type == PollType.numeric %}
                            {% set totals, counts, averages = poll.get_stats() %}

                            <tr class="scores">
                                <th data-trigger="hover" data-toggle="popover" data-container="body" data-content="based on the number of people who voted in each category, not number of total votes">
                                    <b>{{ _("Average") }}</b>
                                </th>
                                {% for choice in choices %}
                                    <td class="choice-sum">{{ poll.numeric_format(2) % averages[choice] }}</td>
                                {% endfor %}
                            </tr>

                            <tr class="scores">
                                <th>
                                    <b>{{ _("Total") }}</b>
                                </th>
                                {% for choice in choices %}
                                    <td class="choice-sum" data-score="{{ averages[choice] }}">{{ poll.numeric_format() % totals[choice] }}</td>
                                {% endfor %}
                            </tr>

                        {% else %}
                            <tr id="scores">
                                {% set total = poll.votes.count() %}
                                <th>
                                    <span class="print-only">
                                        <b>{{ _("Percent") }}<br/>{{ _("Score") }}</b>
                                    </span>
                                </th>
                                {% set scores, counts, totals, max_score = poll.get_stats() %}
                                {% for choice in choices %}
                                    <th class="choice-sum {% if scores[choice] == max_score %}maximum{% endif %}"
                                        data-toggle="popover" data-trigger="hover" data-container="body" data-title="{{ choice.title|forceescape|forceescape }}" data-content="{% for choice_value in poll.get_choice_values() %}<div class='value'>{{ counts[choice][choice_value]|forceescape|forceescape }}<i class='fa fa-times'></i><span class='label choice-sum-value-label' style='background-color: #{{ choice_value.color }};'><span class='fa fa-{{ choice_value.icon }}'></span></span>{{ choice_value.title|forceescape|forceescape }}</div>{% endfor %}<div class='score'>{{ _('Score') }}: {{ '%.f' % scores[choice] }}</div>" data-placement="top" data-score="{{ scores[choice]*1.0/totals[choice] if totals[choice] != 0 else 1 }}">

                                        {% if totals[choice] != 0 %}
                                            {{ "%.f %%" % (scores[choice]*100.0/totals[choice]) }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                        <span class="print-only">{{ '%.f' % scores[choice] }}</span>
                                    </th>
                                {% endfor %}
                                <th class="noprint"></th>
                            </tr>
                        {% endif %}
                    </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% else %}
    {% if not poll.has_choices %}
        {{ alert("warning", _("This poll does not have any choices, so no votes can be cast. If this is your poll, please fix that by clicking the 'choices' button on the top.")) }}
    {% elif poll.votes %}
        {{ alert("info", _("The results of this poll are currently hidden.")) }}
    {% elif poll.is_expired %}
        <p class="text-muted text-center">{{ _("No-one voted, and the poll expired.") }}</p>
        <p class="text-muted text-center"><i class="fa fa-2x fa-frown-o"></i></p>
    {% else %}
        <p class="text-muted text-center">{{ _("No-one voted yet. Be the first!") }}</p>
    {% endif %}
{% endif %}
