extends poll/BASE.jade

block actions
    = super()
    include poll/_actions.jade

block content
    .container
        - if poll.description
            h3= _("Poll Description")
            != poll.description|markdown
            hr/

        .text-right(style="margin-bottom: 10px;")
            button.action#filter-button(type="button", data-toggle="modal", data-target="#filter-modal")
                i.fa.fa-filter
                span= _("Filter")

        include poll/_table.jade

    include poll/_filter.jade
