extends poll/BASE.jade

block actions
    = super()
    include poll/_actions.jade

block content
    .container
        - if poll.description
            h3= _("Poll Description")
            != poll.description|markdown
            hr/

        include poll/_table.jade

