{% extends "poll/BASE.html" %}

{% block polltitle %}{{ _("Delete poll") }}{% endblock %}

{% block poll_content %}
    <div class="danger-zone">
        <h2>{{ _("Warning!") }}</h2>
        <p>{{ _("You are about to permanently delete the poll <b>%(title)s</b>. Are you sure you want to continue?", title=poll.title) | safe }}</p>
        <p>
            <a href="{{ url_for('poll_edit', slug=poll.slug) }}" class="btn btn-success"><i class="fa fa-chevron-left"></i> {{ _("Back to safety") }}</a>
            <a href="{{ url_for('poll_delete', slug=poll.slug, confirm=True, _csrf_token=CSRF) }}" class="btn btn-danger"><i class="fa fa-exclamation-triangle"></i> {{ _("Yes, delete it") }}</a>
        </p>
    </div>
{% endblock %}
