{% extends "poll/BASE.html" %}

{% block polltitle %}{{ _("Settings") }}{% endblock %}

{% block poll_content %}
    {% if poll.owner and not current_user.is_member(poll.owner) %}
        <p class="well text-center">
            <strong>{{ _("Note:") }}</strong>
            {{ _("This poll is owned by %(owner)s, but you can edit it due to your administrator privileges.", owner=poll.owner.displayname) }}
        </p>
    {% endif %}

    <form method="POST">
        <h3>{{ _("Settings") }}</h3>
        <div class="row">
            <div class="col-md-5">
                {{ form.hidden_tag() }}
                {{ field_error(form.hidden_tag) }}

                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="form-control") }}
                    {{ field_error(form.title) }}
                </div>
                <div class="form-group">
                    {{ form.due_date.label }}
                    {{ form.due_date(class="form-control datetime-input", **{"data-timezone": localization_context.timezone if true or localization_context.timezone != current_timezone else ''}) }}
                    {{ field_error(form.due_date) }}
                </div>
                <div class="form-group">
                    {{ form.show_results.label }}
                    {{ form.show_results(class="form-control") }}
                    {{ field_error(form.show_results) }}

                    <div class="help-block">
                        {{ _("Owners of this poll and administrators will always see all votes.") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.timezone_name.label }}
                    {{ form.timezone_name(class="form-control") }}
                    {{ field_error(form.timezone_name) }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(class="form-control monospace", rows=6) }}
                    {{ field_error(form.description) }}
                    {{ markdown_info(true) }}
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                {#
                <div class="form-group">
                    {{ form.password_level.label }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form.password_level(class="form-control") }}
                        </div>
                        <div class="visible-xs">&nbsp;</div>
                        <div class="col-sm-6">
                            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                        </div>
                    </div>
                    {{ field_error(form.password_mode) }}
                    {{ field_error(form.password) }}
                </div>
                #}

                <label>{{ _("Additional settings") }}</label>
                <div class="checkbox">
                    {{ form.allow_comments() }}
                    {{ form.allow_comments.label }}
                    {{ field_error(form.allow_comments) }}
                </div>
                <div class="checkbox">
                    {{ form.anonymous_allowed() }}
                    {{ form.anonymous_allowed.label }}
                    {{ field_error(form.anonymous_allowed) }}
                </div>
                <div class="checkbox">
                    {{ form.require_login() }}
                    {{ form.require_login.label }}
                    {{ field_error(form.require_login) }}
                </div>
                <div class="checkbox">
                    {{ form.require_invitation() }}
                    {{ form.require_invitation.label }}
                    {{ field_error(form.require_invitation) }}
                </div>
                <div class="checkbox">
                    {{ form.public_listing() }}
                    {{ form.public_listing.label }}
                    {{ field_error(form.public_listing) }}
                </div>
                <div class="checkbox">
                    {{ form.one_vote_per_user() }}
                    {{ form.one_vote_per_user.label }}
                    {{ field_error(form.one_vote_per_user) }}
                </div>
                <div class="checkbox">
                    {{ form.show_invitations() }}
                    {{ form.show_invitations.label }}
                    {{ field_error(form.show_invitations) }}
                </div>

                <div class="help-block">
                    {{ _("These settings are not retroactive, meaning that changing them will not modify votes/comments already created.") }}
                </div>

                <hr />

                <div class="form-group">
                    {{ form.owner_id.label }}
                    {{ form.owner_id(class="form-control", rows=6) }}
                    {{ field_error(form.owner_id) }}
                    <div class="help-block">
                        {{ _('Only the owner of a poll, or a member of the owner group, can edit the settings on this page. If you set this to "Nobody", then anyone may claim exclusive ownership. Most restrictive settings above are useless if you do not claim ownership of this poll.') }}
                    </div>
                </div>

                <hr />

                <label>{{ _("Very advanced stuff") }}</label>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('poll_edit_values', slug=poll.slug) }}">{{ _("Edit possible answer values") }}</a></li>
                    <li><a href="{{ url_for('poll_invitations', slug=poll.slug) }}">{{ _("Manage invitations") }}</a></li>
                    <li><a href="{{ url_for('poll_copy', slug=poll.slug) }}">{{ _("Copy poll") }}</a></li>
                    {% if poll.user_can_administrate(current_user) %}
                    <li><a href="{{ url_for('poll_delete', slug=poll.slug) }}" class="red">{{ _("Delete this poll") }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <hr />

        <a href="{{ poll.get_url() }}" class="btn btn-default"><span class="fa fa-arrow-left"></span> {{ _("Back to poll") }}</a>
        <input type="submit" class="btn btn-primary" value="{{ _("Save settings") }}" />
    </form>
{% endblock %}
