{% extends "poll/BASE.jade" %}

{% block polltitle %}{{ _("Values") }}{% endblock %}

{% block content %}
{% if poll.type == PollType.numeric %}
    <form method="POST" class="form-inline">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.minimum.label }}
            {{ form.minimum(class="form-control") }}
            {{ field_error(form.minimum) }}
        </div>

        <div class="form-group">
            {{ form.maximum.label }}
            {{ form.maximum(class="form-control") }}
            {{ field_error(form.maximum) }}
        </div>

        <div class="form-group">
            {{ form.step.label }}
            {{ form.step(class="form-control") }}
            {{ field_error(form.step) }}
        </div>

        <div class="form-group">
            <label for="">&nbsp;</label>
            <input type="submit" value="{{ _('Save') }}" class="btn btn-block btn-primary">
        </div>
    </form>
{% else %}
    <p>
        {{ _("Here you can edit which options the voters have for each choice you give them. By default, <b>yes</b>, <b>no</b> and <b>maybe</b> are always enabled, but you can disable or change any of these. You should have at least one value in this list for the voting to make sense.") | safe }}
    </p>

    <p>
        {{ _("Weights are factors on how the total score for a choice is calculated. These values are normally somewhere between 0 and 1. The total score is displayed both as a percentage and as the weight sum, so you are allowed to use other values if you want them to \"cancel out\".") }}
    </p>

    <script>
        var ICONS = {
            {% for icon in ICONS %}
            "{{ icon[0] }}": "{{ icon[1] }}",
            {% endfor %}
        };
    </script>

    <div class="row">
        <div class="col-md-6">
            <h2>{{ _("Available choices") }}</h2>
            <table class="table auto-width poll">
                <tr>
                    <th>{{ _("Title") }}</th>
                    <th>{{ _("Color/Icon") }}</th>
                    <th>{{ _("Weight") }}</th>
                    <th>{{ _("Votes cast") }}</th>
                    <th>{{ _("Actions") }}</th>
                </tr>
                {% set total_votes = poll.votes.count() %}
                {% for value in poll.choice_values %}
                    <tr class="choice {% if value.deleted %}deleted{% endif %} {% if value == edit_value %}editing mine{% endif %}">
                        <td class="author choice">
                            {{ value.title }}
                        </td>
                        <td class="vote-choice" style="background-color: #{{ value.color }}">
                            <i class="fa fa-{{ value.icon }}"></i>
                        </td>
                        <td class="author">
                            {{ value.weight }}
                        </td>
                        {% set vote_count = value.vote_choices.count() %}
                        <td class="author">
                            <strong>{{ vote_count }}</strong> / {{ total_votes }}
                        </td>
                        <td class="author">
                            <a href="?edit={{ value.id }}" class="btn btn-default btn-xs" title="{{ _('Edit') }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="?toggle={{ value.id }}" class="btn btn-default btn-xs" title="{{ _('Recover' if value.deleted else 'Delete') }}">
                                {% if value.deleted %}
                                    <i class="fa fa-undo"></i>
                                {% else %}
                                    <i class="fa fa-trash-o"></i>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            {% if edit_value %}
                <h2>{{ _("Edit choice value: %(title)s", title=edit_value.title) }}</h2>
            {% else %}
                <h2>{{ _("Add a choice value") }}</h2>
            {% endif %}

            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-sm-6 form-group">
                        {{ form.title.label }}
                            {{ form.title(class="form-control input-sm") }}
                    </div>
                    <div class="col-sm-6 form-group">
                        {{ form.weight.label }} <span class="help-inline">{{ _("(usually between 0 and 1)") }}</span>
                        {{ form.weight(class="form-control input-sm", placeholder=form.weight.label.text, placeholder="0.00") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        {{ form.color.label }}
                        <div class="input-group">
                            <div class="input-group-addon">#</div>
                            {{ form.color(class="form-control input-sm", placeholder="RRGGBB") }}
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        {{ form.icon.label }} <span class="help-inline">{{ _("(any FontAwesome icon)") }}</span>
                        <div class="input-group">
                            <div class="input-group-addon">fa fa-</div>
                            {{ form.icon(class="form-control input-sm", placeholder=form.icon.label.text) }}
                        </div>
                    </div>
                </div>

                <input type="submit" value="{{ _('Save') if edit_value else _('Add') }}" class="btn btn-primary btn-sm" />
            </form>

            <h3>{{ _("Available icons") }}</h3>

            <p class="script-only">{{ _("Click icon to insert it into the form.") }}</p>

            <ul class="icon-preview">
            {% for icon in ICONS %}
            <li>
                <button data-icon="{{ icon[0] }}">
                    <i class="fa fa-{{ icon[0] }} fa-2x"></i>
                    <span>{{ icon[0] }}</span>
                </button>
            </li>
            {% endfor %}
            </ul>

        </div>
    </div>
{% endif %}
{% endblock %}
