# SQL-Alchemy Settings
SQLALCHEMY_DATABASE_URI = "sqlite:///tmp/dudel.db" # DO NOT USE RELATIVE PATHS IF USING MIGRATION!!!
SQLALCHEMY_ECHO = False

# Home button in menu bar
HOME_URL = "https://example.com/"
HOME_TEXT = "Home"

# Debug mode, set to False in productive environment
DEBUG = True

# Secret key, required for cookies etc.
SECRET_KEY = "change me!!!"

# Select which authentication method to use.
LOGIN_PROVIDERS = ["password", "ldap"]

# Used only if "password" in LOGIN_PROVIDERS
REGISTRATIONS_ENABLED = True

# Used only if "ldap" in LOGIN_PROVIDERS
LDAP = dict(
    HOST = 'ldap://localhost',
    BASE_DN = 'dc=example,dc=com',
    GLOBAL = dict(
        BIND_DN = 'cn=dudel,dc=example,dc=com',
        PASSWORD = '123456'
    ),
    GROUP = dict(
        ATTRIBUTES = dict(
            IDENTIFIER = 'id',
            NAME = 'cn',
            MEMBERS = 'members'
        ),
        DN = 'ou=groups,dc=example,dc=com',
        FILTER = '(objectClass=posixGroup)'
    ),
    USER = dict(
        BIND_DN = 'uid={username},ou=people,dc=example,dc=com',
        DN = 'uid={username},ou=people,dc=example,dc=com'
    ),
    REGISTER_URL = "https://example.com/register"
)

# Sentry settings
# SENTRY_DSN = "https://user:password@sentry.host.tld/X"

# How user's display name is created
# May contain fields: firstname, lastname, username, email
NAME_FORMAT = "%(firstname)s (%(username)s)"

# Usernames of administrators
# e.g. ["13musterm", "14musterf"]
ADMINS = []

# Locale
BABEL_DEFAULT_LOCALE = "en"
BABEL_DEFAULT_TIMEZONE = "Europe/Berlin"

# recaptcha
RECAPTCHA_USE_SSL = True
RECAPTCHA_PUBLIC_KEY = "..."
RECAPTCHA_PRIVATE_KEY = "..."
RECAPTCHA_OPTIONS = {"theme_name": "white"}
