{% from "_macros.html" import field_error, form_errors %}

<div class="create-poll">
    <div class="page-header">
        <h1>{{ _("Create a poll") }}</h1>
    </div>

    <form class="form" method="POST">
        {{ form.hidden_tag() }}
        {{ field_error(form.hidden_tag) }}

        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control", id="title-input", autocomplete="off") }}
            {{ field_error(form.title) }}

            {% if config.ALLOW_CUSTOM_SLUGS %}
            <div class="help-block script-only" id="slug-preview-box">
                {{ _("The poll will be available at") }}
                <span id="url-preview">
                    <span id="url-prefix">{{ url_for('poll', slug='', _external=True) }}</span><span id="slug-preview"></span>
                </span>
                <a href="#" class="pull-right btn btn-xs btn-default" id="slug-customize-button"><i class="fa fa-wrench"></i> {{ _("Customize") }}</a>
            </div>
            {% endif %}

            <script>
                var RANDOM_SLUGS = {{ 'true' if config.RANDOM_SLUGS else 'false' }};
            </script>
        </div>

        <div class="form-group" id="slug-customize">
            {% if config.ALLOW_CUSTOM_SLUGS %}
            {{ form.slug.label }}

            <div class="pull-right script-only">
                <button class="btn btn-xs btn-default" id="slug-randomize">
                    <i class="fa fa-random"></i> {{ _("Randomize") }}
                </button>
            </div>

            <div class="input-group">
                <span class="input-group-addon">{{ url_for('poll', slug='', _external=True) }}</span>
                {{ form.slug(class="form-control", id="slug-input") }}
            </div>
            {% endif %}
            {{ field_error(form.slug) }}
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.type.label }}
                    {{ form.type(class="form-control make-button-group") }}
                    {{ field_error(form.type) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.visibility.label }}
                    {{ form.visibility(class="form-control make-button-group") }}
                    {{ field_error(form.visibility) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.due_date.label }} <span class="help-inline">optional</span>
            {{ form.due_date(class="form-control datetime-input") }}
            {{ field_error(form.due_date) }}
        </div>
        <div class="form-group">
            <input type="submit" value="{{ _('Create') }}" class="btn btn-primary"/>
        </div>
    </form>
</div>
