- from "_macros.html" import field_error, form_errors

section.section.login:.container:.halfsize
    form.form(method="POST", action=url_for("login"))
        h1= _("Log in")
        = login_form.hidden_tag()
        = field_error(login_form.hidden_tag)

        .form-group
            = login_form.username.label
            = login_form.username(class="form-control")
            = field_error(login_form.username)

        .form-group
            = login_form.password.label
            = login_form.password(class="form-control")
            = field_error(login_form.password)

        .form-group
            input.pull-right.btn.btn-primary(type="submit", value=_("Login"))

