{% from "_macros.html" import alert, form_errors, field_error, markdown_info %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}dudel{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen" />
        {%- endassets %}

        <!-- Print styles -->
        <link href="{{ url_for('static', filename='css/print.css') }}" rel="stylesheet" media="print">

        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Dudel</a>

                    <div class="navbar-left visible-sm visible-xs">
                        {% if config.HOME_URL %}
                        <a class="btn navbar-btn btn-default" href="{{ config.HOME_URL }}" style="margin-top: 10px;" target="_blank">
                            <i class="fa fa-home"></i> {{ config.HOME_TEXT }}
                        </a>
                        {% endif %}

                        <a class="btn navbar-btn btn-default" href="{{ url_for('index') }}" style="margin-top: 10px;">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="navbar-left hidden-sm hidden-xs">
                    <a class="btn navbar-btn btn-default" href="{{ config.HOME_URL }}" style="margin-top: 10px;" target="_blank">
                        <i class="fa fa-home"></i> {{ config.HOME_TEXT }}
                    </a>
                    <a class="btn navbar-btn btn-default" href="{{ url_for('index') }}" style="margin-top: 10px;">
                        <i class="fa fa-plus"></i> {{ _("Create poll") }}
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    {% if current_user.is_anonymous() %}
                    <form class="navbar-form navbar-right" method="POST" action="{{ url_for('login', next=request.url) }}" style="border: 0; padding-right: 0; padding-left: 0;">
                        <div class="form-group">
                            {{ login_form.username(class="form-control", placeholder=login_form.username.label.text) }}
                        </div>
                        <div class="form-group">
                            {{ login_form.password(class="form-control", placeholder=login_form.password.label.text) }}
                        </div>
                        {{ login_form.hidden_tag() }}
                        <input type="submit" class="btn navbar-btn btn-primary" value="{{ _('Login') }}" />
                    </form>
                    {% else %}
                    <div class="navbar-right">
                        <a class="btn navbar-btn btn-default current-user" href="{{ url_for('user_settings') }}">
                            <img src="{{ current_user.get_avatar(40) }}">
                            {{ current_user.displayname }}
                        </a>
                        <a class="btn navbar-btn btn-default" href="{{ url_for('user_settings') }}"><i class="fa fa-wrench"></i></a>
                        <a class="btn navbar-btn btn-default" href="{{ url_for('logout', next=request.url) }}"><i class="fa fa-sign-out"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% include "_flashes.html" %}
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="container">
                Powered by <a href="http://github.com/opatut/dudel">Dudel</a>
                <form class="form-inline" action="{{ url_for('user_change_language', next=request.url) }}" method="POST">
                    {{ lang_form.hidden_tag() }}
                    {% for language in lang_form.language %}
                        &middot; {{ language() }}
                    {% endfor %}
                </form>
            </div>
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.colorpicker.js') }}"></script>
        {% block foot %}{% endblock %}
    </body>
</html>
