<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>dudel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.css') }}" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.colorpicker.css') }}" media="screen" />
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Dudel</a>
                </div>
                <a class="btn navbar-btn btn-default" href="https://mafiasi.de"><i class="fa fa-home"></i> Mafiasi Hub</a>

                {#
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <button type="button" class="btn btn-default">Search</button>
                </form>
                #}

                <div class="navbar-right">
                    {% if current_user.is_anonymous() %}
                    <a class="btn navbar-btn btn-primary" href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <span class="nav navbar-text">Logged in as {{ current_user.displayname }}</span>
                    <a class="btn navbar-btn btn-default" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% include "_flashes.html" %}
            {% block content %}
            {% endblock %}
        </div>

        <footer>
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.colorpicker.js') }}"></script>
        {% block foot %}{% endblock %}
    </body>
</html>
