<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>dudel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Dudel</a>
                </div>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <button type="button" class="btn btn-default">Search</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://mafiasi.de">Mafiasi Hub</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% include "_flashes.html" %}
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
