{% extends "BASE.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        {% include "_create.html" %}
    </div>
    <div class="col-md-6">
        {% if current_user.is_authenticated() %}
            <div class="page-header">
                <h1>{{ _("My polls") }}</h1>
            </div>

            <p>
                {{ _("You can find a list of all the polls in which you have participated on your profile page.") }}
            </p>

            <a href="{{ url_for('user_settings') }}" class="btn btn-primary">{{ _("Show my polls") }}</a>

            <div class="page-header secondary">
        {% else %}
            <div class="page-header">
        {% endif %}
                <h1>{{ _("Public polls") }}</h1>
            </div>

        {% if polls %}
            <ul>
                {% for poll in polls %}
                    <li>
                        <a href="{{ poll.get_url() }}">{{ poll.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ alert("info", _("There are currently no public polls.")) }}
        {% endif %}
        <div class="page-header secondary">
            <h1>{{ _("Dudel statistics") }}</h1>
        </div>
        <table class="table">
            <tr><th>{{ _("Polls created") }}</th><td>{{ poll_count }}</td></tr>
            <tr><th>{{ _("Votes cast") }}</th><td>{{ vote_count }}</td></tr>
            <tr><th>{{ _("Users") }}</th><td>{{ user_count }}</td></tr>
        </table>
    </div>
</div>
{% endblock %}
