{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1 class="inline">{{ _("Login") }}</h1>
    </div>

    <form method="POST" class="form login well">
        {{ form.hidden_tag() }}
        {{ field_error(form.hidden_tag) }}

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            {{ field_error(form.username) }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {{ field_error(form.password) }}
        </div>
        <div class="form-group">
            {% if config.AUTH_MODE == "ldap" %}
                <a href="{{ config.LDAP_REGISTER_URL }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link-square"></i> {{ _("Registration (external)") }}</a>
            {% elif config.AUTH_MODE == "password" %}
                {% if config.REGISTRATIONS_ENABLED %}
                    <a href="{{ url_for('register', next=request.args.get('next')) }}" class="btn btn-default"><i class="fa fa-pencil"></i> {{ _("Register") }}</a>
                {% endif %}
            {% endif %}
            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> {{ _('Login') }}</button>
        </div>
    </form>
{% endblock %}

