{% extends "poll_base.html" %}
{% from "_formhelpers.html" import field_error %}

{% block title %}{{ poll.title }}{% endblock %}

{% block poll_content %}
    <p class="well">
        Please insert the poll password to continue:

        <form method="POST" class="form-inline">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password(class="form-control") }}
                <input type="submit" class="btn btn-primary" value="Continue" />
            </div>
        </form>
    </p>
{% endblock %}
