{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1 class="inline">{{ poll.title }}</h1>
        <div class="pull-right">
            {% if poll.user_can_edit(current_user) %}
            <a href="{{ url_for('poll_edit', slug=poll.slug) }}" class="btn btn-default"><span class="icon-wrench"></span> Settings</a>
            <a href="{{ url_for('poll_edit_choices', slug=poll.slug) }}" class="btn btn-default"><span class="icon-list"></span> Choices</a>
            {% endif %}
            <a href="{{ url_for('poll_vote', slug=poll.slug) }}" class="btn btn-success"><span class="icon-check"></span> Vote</a>
        </div>
    </div>

    <ul class="poll-details">
        {% if poll.due_date %}
            <li>due on {{ poll.due_date }}</li>
        {% endif %}
        {% if poll.author %}
            <li>owned by {{ "you" if poll.author == current_user else poll.author.displayname }}</li>
        {% endif %}
    </ul>

    {% if poll.votes %}
        <div class="table-padding">
            <table class="table poll auto-width">
                <thead><tr>
                    <th></th>
                    {% for choice in poll.get_choices() %}
                        <th class="text-center">
                            {{ choice.text }}
                        </th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for vote in poll.votes %}
                        <tr>
                            <td>{{ vote.name }}</td>
                            {% for choice in poll.get_choices() %}
                                {% set vote_choice = poll.get_vote_choice(vote, choice) %}
                                <td class="vote-choice text-center {{ vote_choice.value or 'none' }}">
                                    <span class="icon-{{ {"yes": "ok", "no": "ban-circle", "maybe": "question"}[vote_choice.value] or 'questionggV' }}"></span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-muted text-center">No-one voted yet. Be the first!</p>
    {% endif %}
{% endblock %}
