{% extends "base_poll.html" %}

{% block polltitle %}{{ _("Settings") }}{% endblock %}

{% block poll_content %}
    <h2>{{ _("Invites") }}</h2>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled">
                {% for invite in poll.invites %}
                    <li>
                        <span class="icon-block entypo-{{ 'check' if invite.voted else 'help' }}"></span>
                        {{ invite.user.displayname }}
                        <span class="help-inline">invited {{ invite.created|datetime }}</span>
                        <a href="{{ url_for('poll_invite_delete', slug=poll.slug, id=invite.id) }}" class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <form method="POST">
            {{ form.hidden_tag() }}
            {{ field_error(form.hidden_tag) }}

            <div class="form-group">
                {{ form.member.label }}
                <div class="input-group">
                    {{ form.member(class="form-control") }}
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="{{ _('Invite') }}" />
                    </div>
                </div>
                {{ field_error(form.member) }}

                <ul class="help-list">
                    <li>{{ _("Enter the username or group title of the user or group of users you want to invite.") }}</li>
                    <li>{{ _("You can enter multiple users or groups.") }}</li>
                    <li>{{ _("Duplicates are ignored automatically.") }}</li>
                    <li>{{ _("Group invites are resolved immediately, so adding more members to a group later will not invite those new members, unless you re-invite the group.") }}</li>
                </ul>
            </div>
        </div>
    </div>

        <hr />

        <a href="{{ poll.get_url() }}" class="btn btn-default"><span class="fa fa-arrow-left"></span> {{ _("Back to poll") }}</a>
        <input type="submit" class="btn btn-primary" value="{{ _("Save settings") }}" />
    </form>
{% endblock %}
