{% extends "base_poll.html" %}

{% block polltitle %}{% endblock %}

{% macro pollDetail(title, content, icon) %}
    <li>
        <!-- <span class="title">{{ title }}</span>  -->
        <i class="fa fa-{{ icon }}"></i>
        <span class="content">{{ content }}</span>
    </li>
{% endmacro %}

{% block poll_content %}
    <ul class="poll-details">
        {{ pollDetail(_("Created on"), poll.created|date, "calendar") }}

        {% if poll.due_date %}
            {{ pollDetail(_("Expires"), poll.due_date|date, "clock-o") }}
        {% endif %}

        {% if poll.author %}
            {{ pollDetail(_("Ownership"), _("you") if poll.author == current_user else poll.author.displayname, "briefcase") }}
        {% endif %}

        {% if poll.anonymous_allowed %}
            {{ pollDetail(_("Anonymous voting"), _("anonymous voting allowed"), "question-circle") }}
        {% endif %}

        {% if poll.public_listing %}
            {{ pollDetail(_("Public listing"), _("public"), "list") }}
        {% endif %}

        {% if poll.require_login %}
            {{ pollDetail(_("Login required"), _("login required"), "user") }}
        {% endif %}

        {% if current_user.is_authenticated() %}
            {{ pollDetail(_("Watching"),
                _("watching") if poll.is_watching(current_user) else _("not watching"),
                "eye" if poll.is_watching(current_user) else "eye-slash") }}
        {% endif %}
    </ul>
    <hr />

    {% if not poll.is_expired and poll.has_choices %}
    <div class="noprint">
        {% set user_votes = [] if current_user.is_anonymous() else poll.get_user_votes(current_user) %}
        {% if poll.one_vote_per_user and user_votes %}
            <a class="btn btn-primary" href="{{ url_for('poll_vote_edit', slug=poll.slug, vote_id=user_votes[0].id) }}">{{ _("Edit vote") }}</a>
        {% elif poll.require_login and current_user.is_anonymous() %}
            <a class="btn btn-primary" href="{{ url_for('login', next=url_for('poll_vote', slug=poll.slug)) }}">{{ _("Log in to vote") }}</a>
        {% else %}
            <a class="btn btn-success" href="{{ url_for('poll_vote', slug=poll.slug) }}">{{ _("Vote now") }}</a>
        {% endif %}

        {% if current_user.is_authenticated() %}
            {% if poll.is_watching(current_user) %}
                <a class="btn btn-default" href="{{ url_for('poll_watch', slug=poll.slug, watch='no') }}"><i class="fa fa-eye-slash"></i> {{ _("Unwatch poll") }}</a>
            {% else %}
                <a class="btn btn-default" href="{{ url_for('poll_watch', slug=poll.slug, watch='yes') }}"><i class="fa fa-eye"></i> {{ _("Watch poll") }}</a>
            {% endif %}
        {% endif %}
    </div center>
    {% endif %}

    <hr />

    {% if poll.description %}
        <h3>{{ _("Poll Description") }}</h3>
        {{ poll.description | markdown }}
        <hr />
    {% endif %}

    {% set show_votes = poll.show_votes(current_user) %}
    {% set show_summary = poll.show_summary(current_user) %}
    {% if poll.show_results != "complete" and poll.user_can_administrate(current_user) %}
        {{ alert("info", _("You as an admin of this poll will always see full results, no matter what you select under 'Results display'. Log out to see the poll as a normal visitor.")) }}
    {% endif %}
    {% if (poll.votes and poll.has_choices) and (show_votes or show_summary or poll.get_user_votes(current_user)) %}
        <div class="table-padding">
            {% set groups = poll.get_choice_groups() %}
            <div class="table-noscroll-y">
                <div class="table-scroll-x" style="padding-bottom: 100px;">
                    <table class="table poll auto-width">
                        <thead>
                            {% if groups|length>1 or poll.type == "date" %}
                            <tr>
                                <th></th>
                                {% for group in groups %}
                                    <th colspan="{{ group|length }}" class="choice-group">
                                        {{ group[0].group|date(False) if poll.type=="date" else group[0].group }}
                                    </th>
                                {% endfor %}
                                <th class="noprint"></th>
                            </tr>
                            {% endif %}
                            <tr>
                                <th></th>
                                {% for group in groups %}
                                    {% for choice in group %}
                                        <th class="choice-text">
                                            {{ choice.text or choice.date|time(False) }}
                                        </th>
                                    {% endfor %}
                                {% endfor %}
                                <th class="noprint"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vote in poll.votes %}
                                {% if show_votes or (not current_user.is_anonymous() and vote.user == current_user) %}
                                    <tr{% if not current_user.is_anonymous() and vote.user == current_user %} class="mine"{% endif %}>
                                        <td class="author" title="voted on {{ vote.created|datetime }}">
                                            {{ vote.displayname }}
                                        </td>
                                        {% for group in groups %}
                                            {% for choice in group %}
                                                {% set vote_choice = poll.get_vote_choice(vote, choice) %}
                                                {% if vote_choice and not vote_choice.value.deleted %}
                                                <td class="vote-choice text-center {{ '' if vote_choice.value else 'none' }} {{ 'comment' if vote_choice.comment else '' }}" style="background-color: #{{ vote_choice.value.color }}">
                                                    <span class="fa fa-{{ vote_choice.value.icon if vote_choice.value else 'question' }}"></span>
                                                    <div class="custom-tooltip below">
                                                        <div class="name">{{ vote.displayname }}</div>
                                                        <div class="value">{{ choice.text or choice.date|datetime(False) }}</div>
                                                        {% if vote_choice.comment %}
                                                            <div class="comment">{{ vote_choice.comment }}</div>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                {% else %}
                                                <td class="vote-choice text-center none">
                                                    <span class="fa fa-question"></span>
                                                </td>
                                                {% endif%}
                                            {% endfor %}
                                        {% endfor %}
                                        <td class="noprint vote-actions">
                                            {% if vote.user_can_edit(current_user) %}
                                                <a href="{{ url_for('poll_vote_edit', slug=poll.slug, vote_id=vote.id) }}" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                            {% endif %}
                                            {% if vote.user_can_delete(current_user) %}
                                                <a href="{{ url_for('poll_vote_delete', slug=poll.slug, vote_id=vote.id) }}" class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if not show_votes %}
                                <tr>
                                    <td></td>
                                    <td colspan="{{ poll.get_choices()|length }}" class="info">
                                        {% if show_summary %}
                                            {{ poll.votes.count() - poll.get_user_votes(current_user)|length }} votes are hidden from you.
                                        {% else %}
                                            Some votes may be hidden from you.
                                        {% endif %}
                                        {% if current_user.is_anonymous() %}
                                            <a href="{{ url_for('login', next=request.url) }}">Log in</a> to display your own vote.
                                        {% endif %}
                                    </td>
                                    <td class="noprint"></td>
                                </tr>
                            {% endif %}
                        </tbody>
                        {% if show_summary %}
                        <tfoot>
                            <tr>
                                {% set total = poll.votes.count() %}
                                <th>
                                    <span class="print-only">
                                        <b>Percent<br/>Score</b>
                                    </span>
                                </th>
                                {% set scores, counts, totals, max_score = poll.get_stats() %}
                                {% for group in groups %}
                                    {% for choice in group %}
                                        <th class="choice-sum {% if scores[choice] == max_score %}maximum{% endif %}">
                                            {% if totals[choice] != 0 %}
                                                {{ "%.f %%" % (scores[choice]*100.0/totals[choice]) }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                            <span class="print-only">{{ '%.f' % scores[choice] }}</span>

                                            <div class="custom-tooltip above">
                                                <div class="name">{{ choice.text or choice.date|datetime(False) }}</div>
                                                {% for choice_value in poll.get_choice_values() %}
                                                <div class="value">
                                                    {{ counts[choice][choice_value]  }} <i class="fa fa-times"></i>
                                                    <span class="label choice-sum-value-label" style="background-color: #{{ choice_value.color }};">
                                                        <span class="fa fa-{{ choice_value.icon }}"></span>
                                                    </span>
                                                    {{ choice_value.title }}
                                                </div>
                                                {% endfor %}
                                                <div class="score">{{ _("Score:") }} {{ '%.f' % scores[choice] }}</div>
                                            </div>
                                        </th>
                                    {% endfor %}
                                {% endfor %}
                                <th class="noprint"></th>
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        {% if not poll.has_choices %}
            {{ alert("warning", _("This poll does not have any choices, so no votes can be cast. If this is your poll, please fix that by clicking the 'choices' button on the top.")) }}
        {% elif poll.votes %}
            {{ alert("info", _("The results of this poll are currently hidden.")) }}
        {% elif poll.is_expired %}
            <p class="text-muted text-center">{{ _("No-one voted, and the poll expired.") }}</p>
            <p class="text-muted text-center"><i class="fa fa-2x fa-frown-o"></i></p>
        {% else %}
            <p class="text-muted text-center">{{ _("No-one voted yet. Be the first!") }}</p>
        {% endif %}
    {% endif %}

    <div style="clear: right;"></div>

    {% set comments = poll.get_comments() %}

    {% if comments %}
        <hr />
        <h3>{{ _("Comments") }}</h3>
        <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <a name="comment-{{ comment.id }}"></a>
                <div class="avatar">
                    <img src="{{ comment.user.get_avatar(48) if comment.user_id else comment.name|gravatar(48) }}" />
                </div>
                <div class="meta">
                    <div class="author">{{ comment.name or comment.user.displayname }}</div>
                    {{ _("commented on") }}
                    <div class="date">{{ comment.created | date }} at {{ comment.created | time }}</div>
                    {% if comment.user_can_edit(current_user) %}
                    <div class="edit">
                        <a href="{{ url_for('poll_delete_comment', slug=poll.slug, id=comment.id) }}" title="{{ _('delete comment') }}" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                    </div>
                    {% endif %}
                </div>
                <div class="text">{{ comment.text | markdown }}</div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if poll.allow_comments %}
        <hr />
        <div class="noprint">
            <h3>{{ _("Post a comment") }}</h3>
            <form method="POST" class="form">
                {{ comment_form.hidden_tag() }}
                <div class="form-group">
                    {{ comment_form.name.label }}
                    {% if current_user.is_anonymous() %}
                        {{ comment_form.name(class="form-control") }}
                    {% else %}
                        <input type="text" disabled="DISABLED" value="{{ current_user.displayname }}" class="form-control" />
                    {% endif %}
                    {{ field_error(comment_form.name) }}
                </div>
                <div class="form-group">
                    {{ comment_form.text.label }}
                    {{ comment_form.text(class="form-control", rows=6) }}
                    {{ field_error(comment_form.text) }}
                    {{ markdown_info(true) }}
                </div>
                {% if current_user.is_anonymous() %}
                <div class="form-group">
                    {{ comment_form.captcha }}
                    {{ field_error(comment_form.captcha) }}
                    <p class="help-block">
                        {{ _("You can avoid this captcha if you login.") }}
                    </p>
                </div>
                {% endif %}
                <div class="form-group">
                    <input type="submit" value="{{ _('Post comment') }}" class="btn btn-primary" />
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
