{% extends "base_poll.html" %}
{% from "_formhelpers.html" import field_error %}

{% block polltitle %}Settings{% endblock %}

{% block poll_content %}
    {% if not poll.author and not current_user.is_anonymous() %}
    <div class="row">
        <div class="well col-md-6 col-md-offset-3 text-center">
            <p>
                This poll does not belong to any user. While logged in, you can
                claim authorship to receive exclusive editing rights.
            </p>
            <a href="{{ url_for('poll_claim', slug=poll.slug) }}" class="btn btn-primary btn-sm">Claim authorship</a>
        </div>
    </div>
    <hr />
    {% endif %}

    <form method="POST">
        <h3>Settings</h3>
        <div class="row">
            <div class="col-md-5">
                {{ form.hidden_tag() }}
                {{ field_error(form.hidden_tag) }}

                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="form-control") }}
                    {{ field_error(form.title) }}
                </div>
                <div class="form-group">
                    {{ form.due_date.label }}
                    {{ form.due_date(class="form-control") }}
                    {{ field_error(form.due_date) }}
                </div>
                <div class="form-group">
                    {{ form.show_results.label }}
                    {{ form.show_results(class="form-control") }}
                    {{ field_error(form.show_results) }}
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                {#
                <div class="form-group">
                    {{ form.password_level.label }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form.password_level(class="form-control") }}
                        </div>
                        <div class="visible-xs">&nbsp;</div>
                        <div class="col-sm-6">
                            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                        </div>
                    </div>
                    {{ field_error(form.password_mode) }}
                    {{ field_error(form.password) }}
                </div>
                #}

                <label>Additional settings</label>
                <div class="checkbox">
                    {{ form.anonymous_allowed() }}
                    {{ form.anonymous_allowed.label }}
                    {{ field_error(form.anonymous_allowed) }}
                </div>
                <div class="checkbox">
                    {{ form.require_login() }}
                    {{ form.require_login.label }}
                    {{ field_error(form.require_login) }}
                </div>
                <div class="checkbox">
                    {{ form.public_listing() }}
                    {{ form.public_listing.label }}
                    {{ field_error(form.public_listing) }}
                </div>
                <div class="checkbox">
                    {{ form.send_mail() }}
                    {{ form.send_mail.label }}
                    {{ field_error(form.send_mail) }}
                </div>

                <hr />

                <label>Very advanced stuff</label>
                <p><a href="{{ url_for('poll_edit_values', slug=poll.slug) }}">Edit possible answer values</a></p>
            </div>
        </div>

        <hr />

        <a href="{{ poll.get_url() }}" class="btn btn-default"><span class="fa fa-arrow-left"></span> Back to poll</a>
        <input type="submit" class="btn btn-primary" value="Save settings" />
    </form>
{% endblock %}
