{% extends "base_poll.html" %}

{% block polltitle %}{{ _("Vote") }}{% endblock %}

{% block poll_content %}

    {% if not vote and not current_user.is_anonymous() and poll.get_user_votes(current_user) %}
        {{ alert("warning", _("You have already voted on this poll. Maybe instead of voting again you'd rather edit your choices?")) }}
    {% endif %}

    {{ alert("info", _("Hold left mouse button and drag mouse to select multiple vote choices.")) }}

    {% if vote %}
        {{ alert("warning", _("You are editing a vote, not casting a new one.")) }}
    {% endif %}

    <form method="POST" class="form-inline">
        {{ form.hidden_tag() }}
        {{ form_errors(form) }}

        {% set choices = poll.get_choices() %}
        {% set matrix = poll.get_choice_group_matrix() %}

        <table class="table poll vote auto-width">
            <tr class="script-only">
                <td colspan="{{ (matrix[0]|length if matrix else 1) }}"></td>
                {% for value in poll.get_choice_values() %}
                <td class="text-center">
                    <input type="button" class="btn btn-xs btn-link vote-choice-column" value="{{ _('all') }}" data-choice="{{ value.id }}"/>
                </td>
                {% endfor %}
                <td>
                    <input type="button" class="btn btn-xs btn-link vote-choice-edit-all" value="{{ _('Show all comment fields') }}" />
                </td>
            </tr>

            {% for i, row in enumerate(matrix) %}
                {% set choice = choices[i] %}
                {% set subform = form.vote_choices[i] %}

                <tr data-vote-choice="{{ choice.id }}">
                    {% for item in row if item[0] != None %}
                    <td class="choice-group" colspan="{{ item[1] }}" rowspan="{{ item[2] }}">
                        {{ item[0]|group_title }}
                    </td>
                    {% endfor %}
                    <td>
                        {{ subform.hidden_tag() }}
                        {% for field in subform.value %}
                            {% if vote and field.data == poll.get_vote_choice(vote, choice).value_id %}
                                {{ field(class="vote-choice-radio", checked=1) }}
                            {% else %}
                                {{ field(class="vote-choice-radio") }}
                            {% endif %}

                            {{ field.label }}
                        {% endfor %}
                    </td>
                    {% for value in poll.get_choice_values() %}
                        <td class="vote-choice control off script-only" data-choice="{{ value.id }}" title="{{ value.title }}" style="background-color: #{{ value.color }}"><span class="fa fa-{{ value.icon }}"></span></td>
                    {% endfor %}
                    <td class="vote-comment">
                        {{ subform.comment(class="form-control input-sm vote-choice-comment", placeholder=subform.comment.label.text) }}
                        <div class="script-only">
                            <button class="btn btn-sm btn-default vote-choice-edit" title="{{ _('Add a comment') }}"><i class="fa fa-comment-o"></i></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}

			<tr><td colspan="6"><hr /></td></tr>

            <tr>
                <td colspan="{{ (matrix[0]|length if matrix else 1) }}">{{ form.name.label }}</td>
                <td colspan="3">
                    {% if (not vote and current_user.is_anonymous()) or (vote and not vote.user) %}
                        {{ form.name(class="form-control", id="nameInput") }}
                    {% else %}
                        <input type="text" disabled="DISABLED" value="{{ current_user.displayname }}" class="form-control" />
                        <input type="hidden" value="PLACEHOLDER" name="name" />
                    {% endif %}

                    {% if poll.anonymous_allowed %}
                    <div class="checkbox">
                        {{ form.anonymous() }}
                        {{ form.anonymous.label() }}
                    </div>
                    {% endif %}
                </td>
                <td></td>
            </tr>

            <tr>
                <td colspan="{{ (matrix[0]|length if matrix else 1) }}">
                    {{ form.comment.label }}
                    <span class="help-inline">(optional)</span>
                </td>
                <td colspan="4">
                    {{ form.comment(class="form-control", rows=3) }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td colspan="3">
                    <button type="submit" class="btn btn-success btn-block"><span class="fa fa-check"></span> {{ _("Save vote") }}</button>
                </td>
                <td></td>
            </tr>
        </table>

    </form>

    {% if vote and vote.user_can_delete(current_user) %}
        <h3>Delete vote</h3>

        <p>
            {{ _("You can delete this vote if it has been cast accidentally. Please do not abuse this feature, else we'll have to remove it again. Also, we log who uses this, just to make sure.") }}
        </p>

        <a href="{{ url_for('poll_vote_delete', slug=poll.slug, vote_id=vote.id) }}" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span> {{ _("Delete vote") }}</a>
    {% endif %}
{% endblock %}
