{% from "_macros.html" import alert %}

{% macro user_link(user) %}
    <a href="{{ url_for('admin_user', id=user.id) }}">{{ user.displayname }}</a>
{% endmacro %}

{% macro group_link(group) %}
    <!-- <a href="{{ url_for('admin_user', id=group.id) }}">{{ group.name }}</a> -->
    {{ group.name }}
{% endmacro %}

{% macro poll_table(polls) %}
    {% if polls %}
    <div class="table-responsive table-scroll">
        <table class="table">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Link name</th>
                <th>Created</th>
                <th>Author</th>
                <th>Due date</th>
                <th>Votes</th>
                <th>Flags</th>
            </tr>
            {% for poll in polls %}
            <tr>
                <td><i class="fa fa-{{ {'normal':'list', 'date':'clock-o', 'day': 'calendar'}[poll.type] }}" title="Type: {{ poll.type }}"></i></td>
                <td><a href="{{ url_for('admin_poll', id=poll.id) }}">{{ poll.title }}</a></td>
                <td><a href="{{ poll.get_url() }}">/{{ poll.slug }}/</a></td>
                <td>{{ poll.created | datetime }}</td>
                <td>{{ poll.owner.displayname if poll.owner else "-" }}</td>
                <td>{{ (poll.due_date|datetime) if poll.due_date else "-" }}</td>
                <td>{{ poll.votes.count() }}</td>
                <td>
                    {% if poll.deleted %}
                        <span class="label label-danger"><i class="fa fa-times"></i> Deleted</span>
                    {% endif %}

                    {% if poll.should_auto_delete() %}
                        <span class="label label-orange"><i class="fa fa-exclamation-sign"></i> Autodelete</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        {{ alert("info", "No polls found") }}
    {% endif %}
{% endmacro %}

{% macro user_table(users) %}
    {% if users %}
    <div class="table-responsive table-scroll">
        <table class="table">
            <tr>
                <th>Display Name</th>
                <th>Login</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Source</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>
                    {{ user_link(user) }}
                    {% if user.is_admin %}<span class="label label-danger">ADMIN</span>{% endif %}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email  }}</td>
                <td><span class="label label-default">{{ user.source  }}</span></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        {{ alert("info", "No users found") }}
    {% endif %}
{% endmacro %}

{% macro group_table(groups) %}
    {% if groups %}
    <div class="table-responsive table-scroll">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Members (in dudel)</th>
                <th>Source</th>
            </tr>
            {% for group in groups %}
            <tr>
                <td>
                    {{ group_link(group) }}
                </td>
                <td>{{ group.identifier }}</td>
                <td>{{ group.members.count() }}</td>
                <td><span class="label label-default">{{ group.source  }}</span></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        {{ alert("info", "No groups found") }}
    {% endif %}
{% endmacro %}
