- extends "admin/BASE.jade"

- block content
    .page-header
        h1 Overview

    h2 Recent Polls
    = poll_table(polls)

    a.action.primary(href=url_for('admin_polls'))
        span Show all polls
        i.fa.fa-arrow-right

    h2 New Users
    = user_table(users)

    a.action.primary(href=url_for('admin_users'))
        span Show all users
        i.fa.fa-arrow-right
