* {
    /*border-radius: 0 !important;*/
}

.alert {
    padding: 0.7em 0em;
}

.alert .fa {
    font-size: 20px;
    vertical-align: middle;
    margin: -1em 0.2em -0.9em 0;
}

form.navbar-form {
    margin: 0;
}

.form-errors {
    margin: 0.5em 0;
}

.poll, .vote {
    font-size: 9pt;
}

table.vote label {
    margin-top: 8px;
}

.table {
    margin-bottom: 0;
}

.poll .choice-text,
.poll .choice-sum,
.vote .choice-text {
    white-space: nowrap;
    font-weight: bold;
    background: #EEE;
}

.vote .choice-text {
    text-align: right;
}

.poll .choice-group,
.poll .author,
.vote .choice-group {
    font-weight: bold;
    white-space: nowrap;
    background: #EEE;
    vertical-align: middle;
}

.poll .info {
    background: #EEE;
    text-align: center;
}

.poll .mine .author {
    background: #444;
    color: #FFF;
}

.poll .author {
    padding: 0 2em;
    text-align: right;
}

.poll .choice-group,
.poll .choice-sum,
.poll .choice-text {
    text-align: center;
    white-space: inherit;
    max-width: 10em;
    overflow: auto;
}

.poll .choice-sum.maximum {
    background: #AAA;
    color: #FFF;
}

.vote-choice {
    /*border: 5px solid white;*/
    color: white;
    font-size: 16px;
    min-width: 4em;
    max-width: 10em;
    text-align: center;
}

.vote .vote-choice {
    width: 4em !important;
}

.vote-choice.comment {
    background-image: url("../gfx/comment-background.png");
}

.auto-width {
    width: auto;
}

h1.inline {
    display: inline-block;
}

.page-header {
    margin-top: 0;
}

.page-header.secondary {
    margin-top: 3em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h1 small { font-size: 0.6em; margin-left: 1em; }

.page-header .pull-right {
    margin: 20px 0;
}

table.poll td, table.poll th, table.poll tr {
    border: none !important;
}

table.poll {
    border-collapse: separate !important;
    border-spacing: 3px !important;
}

.input-group {
    border-spacing: 0 !important;
}

/*
table.poll tr td:nth-of-type(1) {
    width: 1px;
    white-space: nowrap;
}
*/
.table-padding {
    padding: 0 10px;
}

.no { background: #F96; }
.yes { background: #9C6; }
.maybe { background: #FF6; }

.yes, .no, .maybe,
td.vote-choice,
td.control {
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
}

.vote-choice-radio {
    padding: 0;
    list-style: none;
}

.vote-choice-radio li {
    display: inline;
    padding: 0;
    margin-right: 1em;
}

td.off {
    background-color: #D6D6D6 !important;
}

td.off, td.none {
    text-shadow: none;
}

table.poll td.none {
    border: 1px solid #DDD !important;
    color: #DDD;
}

.help-inline {
    color: #737373;
}

label + .help-inline {
    margin-left: 1em;
}

.checkbox-cell {
    background-color: #F6F6F6;
    text-align: center;
}

.checkbox-cell.on {
    background-color: #9C6;
}

.checkbox-cell.off {
    background-color: #F96 !important;
}

td.not-padded {
    padding: 0 !important;
}

td.vote-comment {
    display: block;
    max-width: 300px;
    padding: 4px !important;
}

.btn-link:focus {
    outline: none;
}

.vote-comment span:hover {
    color: black;
}

.vote-comment input {
    width: 30em;
    vertical-align: center;
}

/* Calendar stuff */
.calendar, .calendar table {
    margin: 0.5em;
    display: inline-block;
}

.calendar table tr:first-child {
    background: #F6F6F6;
}

.calendar table tr:nth-child(2) {
    font-size: 0.8em;
}

.calendar table td {
    text-align: center;
    padding: 4pt !important;
}

.time-buttons .btn,
.calendar table td .btn {
    display: inline-block;
    width: 2.5em;
    text-align: center;
}

.calendar .title {
    text-align: center;
}

.script-only {
    display: none;
}

footer {
    margin: 3em 0;
    color: #AAA;
    text-align: center;
}

.form-actions {
    padding: 20px;
    background: #EEE;
    border-top: 1px solid #CCC;
    text-align: right;
}

.choice.deleted,
.choice.deleted .color {
    color: #AAA;
    text-decoration: line-through;
}

tr.choice td {
    vertical-align: middle !important;
}

.color.red { color: red; }
.color.orange { color: #F90; }
.color.green { color: #0A0; }


.form.login {
    max-width: 400px;
}

.poll-details {
    list-style: none;
    margin: 1em 0;
    padding: 1em;
    background: #F6F6F6;
    border: 1px solid #DDD;
    font-size: 0.9em;
    color: #666;
}

/*@media (min-width: 768px) {
    .poll-details {
        margin-left: 2em;
        float: right;
    }
}
*/
.poll-details li .title {
    display: inline-block;
    width: 9em;
    text-align: right;
}

.poll-details li .content {
    font-weight: bold;
}

/*.poll-details {
    list-style: none;
    padding: 0;
    display: table;
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 4px !important;
}

.poll-details li {
    display: table-cell;
    margin: 0;
    width: 1%;
    background: #EEE;
    padding: 5px;
}

*/
.poll-details li i {
    display: inline-block;
    width: 16px;
    text-align: center;
}

.time-input {
    margin: 20px;
    text-align: center;
    width: 400px;
    display: inline-block;
}

#time-slider {
    background: url("../gfx/time-slider.png");
    height: 50px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
}

#time-slider-knob {
    position: absolute;
    top: 16px;
    width: 4px;
    height: 20px;
    background: #000;
    margin-left: -2px;
}

.time-slider-display {
    display: inline-block;
    position: relative;
    background: url("../gfx/clock-background.png");
    vertical-align: middle;
}

.time-slider-display,
.time-slider-display .minute,
.time-slider-display .hour {
    height: 64px;
    width: 64px;
}

.time-slider-display .minute,
.time-slider-display .hour {
    position: absolute;
    left: 0px;
    top: 0px;
}

.time-slider-display .minute.animated,
.time-slider-display .hour.animated {
    transition: transform 0.5s;
}

.time-slider-display .hour {
    background: url("../gfx/clock-hand-hour.png");
}

.time-slider-display .minute {
    background: url("../gfx/clock-hand-minute.png");
}

#time-slider-form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

#time-slider-form input[type="text"] {
    width: 2em;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    height: 1.7em;
}

.calendar-list {
    padding: 1em 0;
}

.calendar-list ul {
    padding: 0;
    list-style: none;
}

.calendar-list ul li {
    display: block;
    margin-bottom: 4px;
}

@media(max-width: 785px) {
    .nav-tabs {
        margin: 1em 0;
    }
    .nav-tabs li a {
        padding: 0.3em 0.6em;
    }
}

@media(min-width: 786px) {
    .nav-tabs {
        margin-top: -40px;
    }

    .nav-tabs li {
        float: right;
    }
}
.special-button {
   padding: 0;
   width: 32px;
   text-align: center;
}

.special-button > * {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}

.special-button > span.color {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FFF;
}

.icon-preview {
    list-style: none;
    padding: 0;
}

.icon-preview li {
    display: inline-block;
}

.icon-preview li button {
    background: none;
    border: none;
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    text-align: left;
    outline: none;
}

.icon-preview li button:hover {
    background: #EEE;
}

.icon-preview li i {
    vertical-align: middle;
    margin-right: 4px;
    width: 20px;
}


.table-scroll {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 2em;
    min-height: 300px;
    padding-bottom: 1em;
    /*border: 1px solid #DDD;*/
    /*padding: 3px;*/
}

.steps {
    width: 100%;
    list-style: none;
    margin: 1em 0;
    background: #F6F6F6;
    border-radius: 4px;
    border: 1px solid #DDD;
    display: table;
    padding: 0;
}

.steps li {
    display: table-cell;
    width: 25%;
    padding: 0.5em 1em;
    border-right: 1px solid #DDD;
    border-left: 1px solid #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#EEE));
    color: #888;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
}

.steps li.current {
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#F6F6F6));
    font-weight: bold;
}

.steps li:last-child {
    border-right: 0;
}

.steps li:first-child {
    border-left: 0;
}

.steps li span {
    display: block;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    font-size: 1.2em;
}

.monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.comment {
    padding: 10px;
    min-height: 68px;
    border: 1px solid #F6F6F6;
    border-width: 0 2px;
}

.comment .meta {
    font-size: 0.8em;
}

.comment .meta > div {
    display: inline;
}

.comment .meta .author {
    font-weight: bold;
}

.comment .meta .edit {
    float: right;
}

.comment .text > *:last-child {
    margin-bottom: 0;
}

.comment:nth-child(2n+1) {
    background-color: #F6F6F6;
}

.comment:nth-child(2n):last-child {
    border-bottom-width: 2px;
}

.comment .avatar {
    float: left;
}

.comment .avatar img {
    border: 1px solid #DDD;
    padding: 2px;
    background: #FFF;
    width: 48px;
    height: 48px;
}

.comment .meta,
.comment .text {
    margin-left: 58px;
}

.navbar {
    border-radius: 0;
}