.alert {
    padding: 4px 8px;
}

.form-errors {
    margin: 0.5em 0;
}

table.vote label {
    margin-top: 8px;
}

.vote .choice-text {
    text-align: right;
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
}

.vote-choice {
    margin: 3px;
    /*border: 5px solid white;*/
    color: white;
    font-size: 16px;
    width: 70px;
    text-align: center;
}

.auto-width {
    width: auto;
}

h1.inline {
    display: inline-block;
}

.page-header {
    margin-top: 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h1 small { font-size: 0.6em; margin-left: 1em; }

.page-header .pull-right {
    margin: 20px 0;
}

table.poll {
    margin-top: 50px;
}

table.poll td, table.poll th, table.poll tr {
    border: none !important;
}

table.poll {
    border-collapse: separate !important;
    border-spacing: 4px !important;
}

table.poll td.vote-choice {
    font-size: 16px;
}

table.poll tr td:nth-of-type(1) {
    width: 1px;
    white-space: nowrap;
}

.table-padding {
    padding: 0 10px;
}

td.no {
    background-color: #F85252;
    background: #F96;
}

td.yes {
    background-color: #99EE75;
    background: #9C6;
}

td.maybe {
    color: #777;
    background-color: #FFEA79;
    background: #FF6;
}

td.off {
    background-color: #D6D6D6 !important;
    color: #FFF !important;
}

table.poll td.none {
    border: 1px solid #DDD !important;
    color: #DDD;
}

.help-inline {
    color: #737373;
}

label + .help-inline {
    margin-left: 1em;
}

.checkbox-cell {
    background-color: #F6F6F6;
    text-align: center;
}

td.not-padded {
    padding: 0 !important;
}

.vote-comment {
    cursor: pointer;
    display:block;
    max-width: 300px;
}

.vote-comment span:hover {
    color: black;
}

.vote-comment input {
    width: 40em;
}

/* Calendar stuff */
.calendar, .calendar table {
    margin-top: 0.5em;
    display: inline-block;
}

.calendar table tr:first-child {
    background: #F6F6F6;
}

.calendar table tr:nth-child(2) {
    font-size: 0.8em;
}

.calendar table td {
    text-align: center;
    padding: 4pt !important;
}

.time-buttons .btn,
.calendar table td .btn {
    display: inline-block;
    width: 2.5em;
    text-align: center;
}

.calendar .title {
    text-align: center;
}

.script-only {
    display: none;
}

.calendar-list {
    display: inline-block;
    vertical-align: top;
}

footer {
    margin-top: 4em;
}


.choice.deleted,
.choice.deleted .color {
    color: #AAA;
    text-decoration: line-through;
}

.color.red { color: red; }
.color.orange { color: #F90; }
.color.green { color: #0A0; }


.form.login {
    max-width: 400px;
}

.poll-details {
    list-style: none;
    padding: 0;
    /*display: table;*/
    float: right;
}

.poll-details li {
    /*display: table-cell;*/
    margin: 0;
}

.poll-details li i {
    display: inline-block;
    width: 16px;
    text-align: center;
}
